body {
    width: 100vw;
    margin: 0%;
}
@font-face {
    font-family: "robotoslab-regular";
    src: url(./assets/fonts/RobotoSlab/RobotoSlab-Regular.ttf)
}
@font-face {
    font-family: "roboto-regular";
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf)
}
@font-face {
    font-family: "roboto-light";
    src: url(./assets/fonts/Roboto/Roboto-Light.ttf)
}
@font-face {
    font-family: "tattoo";
    src: url(./assets/fonts/Tattoo/Rooters.ttf)
}
li {
    list-style: none;
}
header {
    width: 100vw;
    height: 100vh;
}
.logo {
    width: 5%;
    margin-left: 4%;
}
.nav-container {
    width: 100vw;
    height: 11vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
#menu {
    display: none;
}
.nav-list {
    width: 51%;
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: 0%;
}
.nav-item {
    margin: 1% 2% 0% 2%;
}
.nav-list a, .nav-list-footer a, .up-footer h2 {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "robotoslab-regular";
    transition-duration: 0.3s;
}
.nav-list a:hover, .nav-list-footer a:hover {
    cursor: pointer;
    color: rgb(201, 151, 73);
}
.atribution-logo {
    font-size: 1rem;
    color: rgba(239, 223, 195, 0.322);
}
.header-img {
    width: 100vw;
    height: 80vh;
    overflow: hidden;
}
h1 {
    text-align: center;
    text-decoration: none;
    margin: 3rem 0rem;
    font-size: 3rem;
    font-family: "tattoo";
    color: rgb(0, 0, 0);
}
.gallery-container {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
    padding: 2% 0%;
}
.gallery-img {
    height: 15.3rem;
    transition: 0.5s opacity;
    padding: 1%;
}
.gallery-container:hover .gallery-img {
    opacity: 0.8;
}
.gallery-container:hover .gallery-img:hover {
    opacity: 1;
}
.como-container, .porque-container {
    padding: 3rem 0rem 4rem 0rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    font-family: "roboto-regular";
}
.comos4, .porque3 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1.5rem;
}
.como, .porque{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0rem 2.5rem;
}
.titulo-como, .titulo-porque {
    font-size: 2rem;
}
.numero-como {
    font-family: "tattoo";
}
.numero-como, .icono-porque {
    font-size: 5rem;
}
.como h3 {
    font-size: 1.4em;
}
.como p, .porque p {
    font-family: "roboto-light";
    font-size: 1.3rem;
    margin: 0.2rem;
}
.form-consulta-container {
    background-color: rgb(0, 0, 0);
    padding: 1.5% 0% 4% 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form-consulta {
    color: rgb(255, 255, 255);
    font-family: "roboto-light";
    width: 53%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-consulta h4 {
    font-family: "robotoslab-regular";
    font-size: 1.3rem;
    align-self: flex-start;
}
.primer-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.container-submit {
    width: 100%;
    text-align: center;
}
.info-form-container, .texterea-container {
    width: 48%;
    margin: 1%;
}
.container-input {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}
.label-form {
    padding-bottom: 4%;
}
.input-active {
    padding: 1%;
}
textarea {
    height: 6.3rem;
}
.porque {
    background-color: rgba(201, 152, 73, 0.11);
    margin: 1rem 3rem;
    padding: 4rem 0.2rem 0.2rem 0rem;
    height: 20rem;
    justify-content: flex-start;
}
.porque p, input, textarea {
    font-family: "roboto-regular";
}
.input-submit {
    width: 98%;
    padding: 2%;
    margin-top: 4%;
    border: none;
    font-family: "robotoslab-regular";
    font-size: 1em;
}
.icon-container {
    height: 9rem;
    width: 9rem;
    background-color: rgba(201, 152, 73, 0.26);
    border-radius: 50%;
    display: flex;
    margin-bottom: 1.2rem;
    justify-content: center;
    align-items: center;
}
.icono-porque {
    color: rgb(201, 151, 73);
}
.btn-container {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 0rem 0rem 3rem 0rem;
}
.consulta-btn {
    width: 40rem;
    height: 5rem;
    border: none;
    font-family: "robotoslab-regular";
    font-size: 1.5rem;
    background-color: rgb(201, 151, 73);
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
}
.consulta-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.11);
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}
footer {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.up-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2% 0%;
}
.info-container-footer {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.logo-footer {
    width: 16%;
}
.titulo-footer {
    text-decoration: none;
}
.info-list, .nav-list-footer {
    padding: 0%;
    margin: 0%;
}
.nav-item-footer,  .info-item-footer {
    padding-bottom: 5%;
}
.info-item-footer {
    display: flex;
    align-items: baseline;
}
.up-footer h2 {
    font-weight: normal;
}
.info-item-footer p, .info-item-footer span {
    padding-left: 0.8rem;
}
.contact-btn {
    height: 2.5rem;
    width: 13rem;
    margin-top: 9%;
    border: none;
    background-color: rgb(118, 142, 93);
    color: rgb(255, 255, 255);
    font-family: "robotoslab-regular";
    font-size: 1rem;
    transition-duration: 0.3s;
}
.contact-btn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(118, 142, 93);
}
.down-footer {
    padding: 1.5%;
    width: 100vw;
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes {
    display: flex;
    justify-content: center;
}
.redes a {
    margin: 10%;
}
.icon-redes {
    font-size: 2rem;
    color: rgb(220, 81, 49);
}
.atribuciones, .atribuciones a {
    color: rgb(220, 81, 49);
    font-size: 0.7rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.freepik {
    display: flex;
}
@media (max-width: 600px) {
    .nav-list {
        display: none;
    }
    .fa-bars {
        display: inline-block;
    }
    .menu:checked ~ .navlist {
        display: inline-block;
    }
}