body {
    width: 100vw;
    margin: 0%;
}
@font-face {
    font-family: "robotoslab-regular";
    src: url(./assets/fonts/RobotoSlab/RobotoSlab-Regular.ttf)
}
@font-face {
    font-family: "roboto-regular";
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf)
}
@font-face {
    font-family: "roboto-light";
    src: url(./assets/fonts/Roboto/Roboto-Light.ttf)
}
@font-face {
    font-family: "tattoo";
    src: url(./assets/fonts/Tattoo/Rooters.ttf)
}
li {
    list-style: none;
}
header {
    width: 100vw;
    height: 100vh;
}
.logo {
    width: 5%;
    margin-left: 4%;
}
.nav-container {
    width: 100vw;
    height: 11vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}
.nav-list {
    width: 51%;
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: 0%;
}
.nav-item {
    margin: 1% 2% 0% 2%;
}
.nav-list a:hover {
    cursor: pointer;
    color: rgb(201, 151, 73);
}
.nav-list a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "robotoslab-regular";
    transition-duration: 0.3s;
}
.atribution-logo {
    font-size: 1rem;
    color: rgba(239, 223, 195, 0.322);
}
.header-img {
    width: 100vw;
    height: 80vh;
    overflow: hidden;
}
h1 {
    text-align: center;
    text-decoration: none;
    margin: 3rem 0rem;
    font-size: 3rem;
    font-family: "tattoo";
    color: rgb(0, 0, 0);
}


.gallery-container {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2% 0%;
}
.gallery-img {
    height: 15rem;
    transition: 0.5s opacity;
    padding: 1%;
}
.gallery-container:hover .gallery-img {
    opacity: 0.8;
}
.gallery-container:hover .gallery-img:hover {
    opacity: 1;
}
.como-container {
    padding: 4rem 0rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    font-family: "roboto-regular";
}
.comos4 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1.5rem;
}
.como {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0rem 2.5rem;
}
.icono-como {
    height: 7rem;
    color: rgb(118, 142, 93);
}
.como h3 {
    text-transform: uppercase;
}
.como p {
    font-family: "roboto-light";
}
.btn-container {
    display: flex;
    justify-content: center;
    margin: 4rem 0rem;
}
.consulta-btn {
    width: 40rem;
    height: 5rem;
    border: none;
    font-family: "roboto-regular";
    font-size: 1.5rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition-duration: 0.3s;
}
.consulta-btn:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.11);;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}