@font-face {
    font-family: "robotoslab-regular";
    src: url(./assets/fonts/RobotoSlab/RobotoSlab-Regular.ttf)
}
@font-face {
    font-family: "tattoo";
    src: url(./assets/fonts/Tattoo/Rooters.ttf)
}
body {
    width: 100vw;
    margin: 0%;
    background-color: rgb(19, 19, 19);
    font-family: "robotoslab-regular";
}
li {
    list-style: none;
}
header {
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/img/welcome-studio.jpg);
}
.nav-inicio {
    z-index: 2;
}
.nav-container {
    width: 100vw;
    height: 11vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo {
    width: 4rem;
    opacity: 0.5;
}
.nav-container a {
    margin-left: 6%;
}
#menu, .icon {
    display: none;
}
#menu:checked ~ ul {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    background-color: rgba(19, 19, 19, 0.685);
    position: absolute;
    top: 11vh;
    right: 0vw; 
}
#menu:checked ~ ul > li {
    margin-right: 2rem;
    padding-bottom: 2%;
}
.fa-bars {
    color: rgb(165, 156, 135);
    margin-right: 2rem;
    font-size: 1.5rem;
}
.nav-list {
    width: 51%;
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: 0%;
}
.nav-item {
    margin: 1% 2% 0% 2%;
}
.nav-list a, .nav-list-footer a, .up-footer h2 {
    text-decoration: none;
    color: rgb(165, 156, 135);
    transition-duration: 0.3s;
}
.nav-list a:hover, .nav-list-footer a:hover, .fa-bars:hover, .fa-user-circle:hover {
    cursor: pointer;
    color: rgb(118, 142, 93);
}
.fa-user-circle {
    font-size: 1.5rem;
}
.header-img {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.gradient-abajo {
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(19,19,19,1) 0%, rgba(19,19,19,0) 50%, rgba(19,19,19,0) 100%);
}
.gradient {
    height: 100%;
    background: linear-gradient(90deg, rgba(19,19,19,1) 0%, rgba(19,19,19,0.5) 25%, rgba(19,19,19,0.5) 50%, rgba(19,19,19,0.5) 75%, rgba(19,19,19,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-top: 4rem;
    color: rgb(165, 156, 135);
}
h1 {
    text-align: center;
    text-decoration: none;
    margin: 0rem;
    font-size: 1,7rem;
    font-family: "tattoo";
}
.welcome-container p {
    text-align: center;
}
.logo-inicio {
    height: 40%;
    opacity: 0.4;
}
/* MAIN */
main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.galeria, .nosotros-container, .como-container, .pq-container, .faq-container, .shop-container {
    margin-top: 5rem;
}
/* GALERIA */
#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: rgb(165, 156, 135);
}
.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
    padding: 0.5rem 0rem;
}
h2 {
    font-size: 1rem;
    text-decoration: none;
    padding-bottom: 0.5rem;
    margin: 0%;
    color: rgb(118, 142, 93);
}
.gallery-container a {
    margin: 0.5%;
}
.gallery-img {
    height: 16.5rem;
    width: 23.3rem;
    transition: 0.5s;
}
.gallery-container:hover .gallery-img {
    opacity: 0.8;
}
.gallery-container:hover .gallery-img:hover {
    opacity: 1;
}
.galeria p {
    opacity: 0.6;
    margin: 0.5rem 0rem 2rem 0rem;
    text-align: center;
}
/* NOSOTROS */
.nosotros-container, .pq-container, .faq-container, .gallery-container {
    width: 70%;
}
.artista-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: rgb(165, 156, 135);
    margin-top: 3rem;
}
.artista {
    width: 18rem;
    height: 21rem;
    background-image: url(./assets/img/artist.jpg);
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.artista-back {
    background-color: rgba(19, 19, 19, 0.849);
    padding: 0.5rem;
    width: 100%;
}
.artista-back p {
    font-size: 0.9rem;
}
.artista:hover .artista-back p {
    display: inline;
    cursor: pointer;
}
/* COMO TRABAJAMOS */
.como-container {
    height: 20rem;
    width: 100vw;
    background-image: url(./assets/img/welcome-studio.jpg);
}
.como-gradient {
    width: 100%;
    height: 100%;
    background: rgb(19, 19, 19);
    background: linear-gradient(90deg, rgba(19,19,19,1) 0%, rgba(19,19,19,0.7) 25%, rgba(19,19,19,0.7) 50%, rgba(19,19,19,0.7) 75%, rgba(19,19,19,1) 100%);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.como {
    width: 30%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: rgb(165, 156, 135);
}
.como p {
    text-align: center;
    font-size: 0.9rem;
}
.como h2, .como span {
    color: rgb(220, 81, 49);
}
.registrate-btn {
    width: 100%;
    height: 2.5rem;
    margin-top: 6%;
    background-color: rgb(220, 81, 49);
    color: rgb(19, 19, 19);
    border: none;
    font-weight: bold;
    font-size: 1rem;
    font-family: "robotoslab-regular";
    transition-duration: 0.3s;
}
.registrate-btn-container {
    width: 100%;
    text-decoration: none;
}
.registrate-btn:hover {
    background-color: rgb(194, 71, 43);
    cursor: pointer;
}
/* PARA QUE */
.pq-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.pq-juntos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}
.pq {
    width: 18rem;
    height: 23rem;
    background-image: url(./assets/img/welcome-studio.jpg);
    background-size: cover;
}
.opacidad-falsa {
    height: 100%;
    background-color: rgba(19, 19, 19, 0.884);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(165, 156, 135);
}
.icono-pq {
    font-size: 5rem;
    opacity: 0.6;
    margin-top: 24%;
}
.text-pq {
    width: 100%;
    height: 50%;
    margin-top: 12%;
    background-color: rgba(19, 19, 19, 0.568);
    align-self: flex-end;
    text-align: center;
}
.text-pq p {
    font-size: 0.9rem;
    padding: 0% 3%;
    opacity: 0.7;
}
/* FAQ */
.faq-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: rgb(165, 156, 135);
}
.faq-juntos {
    width: 60%;
    align-self: center;
}
summary {
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    border-bottom: 2px solid rgb(118, 142, 93);
    padding: 3% 0%;
    transition-duration: 0.3s;
}
summary::-webkit-details-marker {
    display: none;
}
details summary::before { 
    content:"+"; 
    color: rgb(118, 142, 93);
    margin-left: 3%;
    font-size: 2rem;
    transform-origin: center;
    transition: 200ms linear;
}
details[open] summary:before {
    transform: rotate(45deg);
  }
summary:hover {
    background-color: rgb(29, 29, 29);
    cursor: pointer;
}
.faq p {
    text-align: end;
    font-size: 0.9rem;
    opacity: 0.7;
}
.faq a {
    text-decoration: none;
    color: rgb(226, 214, 187);
}
/* SHOP BTN */
.shop-container {
    height: 11rem;
    width: 100vw;
    background-image: url(./assets/img/welcome-studio.jpg);
}
.shop-gradient {
    width: 100%;
    height: 100%;
    background: rgb(19, 19, 19);
    background: linear-gradient(90deg, rgba(19,19,19,1) 0%, rgba(19,19,19,0.7) 25%, rgba(19,19,19,0.7) 50%, rgba(19,19,19,0.7) 75%, rgba(19,19,19,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-btn-container {
    width: 30%;
}
.shop-btn {
    width: 100%;
    height: 2.5rem;
    background-color: rgb(118, 142, 93);
    color: rgb(19, 19, 19);
    border: none;
    font-weight: bold;
    font-size: 1rem;
    transition-duration: 0.3s;
}
.shop-btn:hover {
    background-color: rgb(101, 121, 79);
    cursor: pointer;
}
.flex-mono {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FOOTER */
footer {
    height: 40%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(165, 156, 135);
    overflow: hidden;
}
.up-footer-back {
    width: 100%;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
}
.up-footer {
    width: 40%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2% 0%;
}
.flex-up-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}
.info-container-footer {
    display: flex;
    flex-direction: column;
    width: 45%;
    font-size: 0.9rem;
}
#logo-footer {
    width: 4rem;
    opacity: 0.5;
}
.up-footer a {
    align-self: flex-start;
}
.titulo-footer {
    text-decoration: none;
}
.info-list, .nav-list-footer {
    padding: 0%;
    margin: 0%;
}
.nav-list-footer {
    padding-top: 9.5%;
}
.nav-item-footer,  .info-item-footer {
    padding-bottom: 5%;
}
.info-item-footer {
    display: flex;
    align-items: baseline;
}
.up-footer h2 {
    font-weight: normal;
}
.info-item-footer p, .info-item-footer span {
    padding-left: 0.8rem;
    color: rgb(165, 156, 135);
}
#login {
    color: rgb(220, 81, 49);
}
#login:hover {
    color: rgb(194, 71, 43);
}
.down-footer {
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes {
    display: flex;
    justify-content: center;
}
.redes a {
    margin: 10%;
}
.icon-redes {
    font-size: 2rem;
    color: rgb(220, 81, 49);
}
.atribuciones, .atribuciones a {
    color: rgb(220, 81, 49);
    font-size: 0.7rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.freepik {
    display: flex;
}
/* MEDIAS */
@media (max-width: 980px) {
    /* MEDIAS HEADER*/
    header {
        margin-top: 2%;
    }
    .nav-list {
        display: none;
    }
    .icon {
        display: inline-block;
    }
    .img-inicio {
        height: 100%;
    }
}
@media (min-width:501px) and (max-width: 1280px) {
    /* MEDIAS MAIN */
    .gallery-img {
        height: auto;
    }
    .artista {
        width: 30%;
        height: 25rem;
        background-position: 35%;
    }
    .artista-back h3 {
        margin: 5% 0%;
    }
    .nosotros-container, .pq-container, .faq-container, .gallery-container {
        width: 80%;
    }
    .como, .shop-btn-container {
        width: 50%;
    }
    .pq {
        width: 30%;
        height: auto;
    }
    .text-pq {
        height: 100%;
    }
    .faq-juntos {
        width: 90%;
    }
    /* MEDIAS FOOTER */
    .up-footer {
        width: 70%;
        margin-top: 2rem;
    }
}
@media (min-width:975px) and (max-width: 1280px) {
    .gallery-img {
        width: 45rem;
    }
}
@media (min-width:501px) and (max-width: 974px) {
    .gallery-img {
        width: 27rem;
    }
}
@media (max-width: 500px) {
    /* MEDIAS MAIN */
    .logo-inicio {
        margin-top: 6rem;
    }
    .welcome-container {
        margin: 4rem 1rem;
        width: auto;
    }
    .artista-container {
        margin-top: 0rem;
        justify-content: center;
    }
    .artista, .pq {
        margin-top: 2rem;
    }
    .como, .shop-btn-container {
        width: 70%;
    }
    .opacidad-falsa {
        justify-content: space-between;
    }
    .pq-juntos {
        justify-content: center;
        flex-wrap: wrap;
    }
    .icono-pq {
        margin-top: 15%;
    }
    .faq-juntos {
        width: 100%;
    }
    /* MEDIAS FOOTER */
    .up-footer a {
        align-self: auto;
    }
    .up-footer {
        width: 70%;
        margin-top: 2rem;
    }
    .flex-up-footer {
        flex-direction: column;
        align-items: flex-start;
    }
    .info-container-footer {
        width: auto;
    }
    .nav-container-footer {
        margin: 2rem 0rem;
    }
    .down-footer {
        margin: 1rem 0rem;
    }
}